@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Muli");

:root {
--heading-font: "Fjalla One", Arial, sans-serif;
--paragraph-font: "Muli", Verdana, sans-serif;
}

#content{
    max-width:1600px;
    margin: 0 auto;
}

.logo{
    width:80px;
}

#logo-link{
    padding-top: 5px;
}

body{
    background-color:#D5F4F3;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header nav a{
    color:#7EC9BF;
}

header nav a:hover{
    color:#5EA99F;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-img{
    width:100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    color:#F5FBCD;
}

.home-title{
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

.button-box{
    text-align: center;
}

.book, .join{
    background-color:#DC934C;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#CC833C;
    color:white;
}

main{
    background-color:white;
    color:#7EC9BF;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card{
    margin:200px 0;
}

.card-img {
    border: 10px solid #DC934C;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#background{
    height: 725px;
    background-color:#F5FBCD;
}

.msg{
    background-color:#7EC9BF;
    color:white;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    font-family: var(--heading-font);
}
 
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    
    color:#7EC9BF;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color:#7EC9BF;
    text-decoration: none;
}

footer a:hover{
    color:#5EA99F;
}

footer .social img {
    padding-top: 15px;
}