

img{
    max-width:400px;
}

.header-img-banner{
    background-image:url("images/cat-getting-trimmed.jpg");
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-banner{
    background-image:url("images/cat-laying.jpg");
    min-height:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

